@charset "UTF-8";
* {
    margin: 0;
    padding: 0;
}

#joinForm_wrap {
    border: #D4A190 solid 1px;
    margin: 0 auto;
    width: 500px;
    padding: 20px;
    text-align: center;
}

#joinTitle {
    font-weight: bold;
    font-size: 1.5em;
    color: #A47160;
    text-align: center;
    padding-bottom : 20px;
    border-bottom: 1px solid #D4A190; 
}

table {
    margin: 0 auto; 
}
tr {
	height: 40px;
}
th {
	width: 120px;
	font-size: 0.9em;
	color : #3f3f48;
	text-align: left;
	padding-left: 20px;
}
td {
	width: 300px;
}
.name, .id, .pw, .pwChk, .birth, .email, .mailSend {
	border: 1px solid #D4A190;
	height: 20px;
	width: 95%;
	padding: 3px;
}

.mailSend {
	height: 60px;
}

.joinBtn_style {
    width: 140px;
    height:50px;
    background-color: #D4A190;
    color: white;
    outline: none;
}